<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org"/>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Apna Photograoher Team">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>User Registration conformation Page</title>

   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/templatemo-lava.css}">
    
    <link rel="stylesheet" th:href="@{/css/prfc.css}">

    <link rel="stylesheet" th:href="@{/css/ucpc.css}">
    
    <link rel="stylesheet" th:href="@{/css/ucpcAccordion.css}">
    
    

</head>

<body>

 
 
<div class="bs-example">
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a th:href="@{/home}" class="navbar-brand">Apna Photographer</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            
             <div class="navbar-nav ml-auto">
                <a th:href="@{/home}" class="nav-item nav-link">Home</a>
            </div>
           
        </div>
    </nav>
</div> 
   

<br><br><br><br><br>
    
    
    
    
    
    
    
    
   
<div class="container">
	<div class="row">
	    <div class="container">
        
          <blockquote class="quote-card blue-card">
            <p>
              <h3>Welcome to our site: "></h3>
              We get your details.<br> Our team will contact you soon!
            <br>
            <a class="text-secondary" th:href="@{/home}"> Back to Home   </a> - 
            <a class="text-secondary" th:href="@{/user/showUserProfile}">   View Your Profile </a>
    
          </blockquote>
        
        </div>
	</div>
</div>

    
    
       
       
      
    
    
    
    
    
    
    
    
    
    
    
    
    
   

<div class="c">
  <div class="container">
    <h2 class="pb-3 pt-2 border-bottom mb-5">Process</h2>
    
    <div class="row align-items-center how-it-works d-flex">
      <div class="col-2 text-center bottom d-inline-flex justify-content-center align-items-center">
        <div class="circle font-weight-bold">1</div>
      </div>
      <div class="col-6">
        <h5>We Choose Photographers for You.</h5>
        <p>From Your information we will find the best photographer for you, we belive in quality.</p>
      </div>
    </div>
    
    <div class="row timeline">
      <div class="col-2">
        <div class="corner top-right"></div>
      </div>
      <div class="col-8">
        <hr/>
      </div>
      <div class="col-2">
        <div class="corner left-bottom"></div>
      </div>
    </div>
   
    <div class="row align-items-center justify-content-end how-it-works d-flex">
      <div class="col-6 text-right">
        <h5>Make Payments</h5>
        <p>Make a minimum advance to continue the process, we take minimum 20% advance. </p>
      </div>
      <div class="col-2 text-center full d-inline-flex justify-content-center align-items-center">
        <div class="circle font-weight-bold">2</div>
      </div>
    </div>
   
    <div class="row timeline">
      <div class="col-2">
        <div class="corner right-bottom"></div>
      </div>
      <div class="col-8">
        <hr/>
      </div>
      <div class="col-2">
        <div class="corner top-left"></div>
      </div>
    </div>
   
    <div class="row align-items-center how-it-works d-flex">
      <div class="col-2 text-center top d-inline-flex justify-content-center align-items-center">
        <div class="circle font-weight-bold">3</div>
      </div>
      <div class="col-6">
        <h5>Let's Capture Your Favourite Moments</h5>
        <p>After that all the responsiblity in our fingure tips, Don't worry, have a good Experience.</p>
      </div>
    </div>
  </div>
</div> 
</body>
    












    
    <footer id="contact-us">
        <div class="container">
            <div class="footer-content">
                <div class="row">
                    
                    <div class="right-content col-lg-6 col-md-12 col-sm-12">
                        <h2>More About <em>Apna Photographer</em></h2>
                        <p>Phasellus dapibus urna vel lacus accumsan, iaculis eleifend leo auctor. Duis at finibus odio.
                            Vivamus ut pharetra arcu, in porta metus. Suspendisse blandit pulvinar ligula ut elementum.
                            <br><br>If you need this contact form to send email to your inbox, you may follow our </p>
                        <ul class="social">
                            <li><a href="https://fb.com/templatemo"><i class="fa fa-facebook"></i></a></li>
                            <li><a href=""><i class="fa fa-twitter"></i></a></li>
                            <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                            <li><a href=""><i class="fa fa-rss"></i></a></li>
                            <li><a href=""><i class="fa fa-dribbble"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="sub-footer">
                        <p> Maked by Apna Photographer Team</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.js" integrity="sha256-kiFgik3ybDpn1VOoXqQiaSNcpp0v9HQZFIhTgw1c6i0=" crossorigin="anonymous"></script>
    
   
    
   
    
    
</body>
</html>